<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>주문페이지</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
        <style>
            table {
                width: 70%;
                border-collapse: collapse;
                margin: 25px 0;
                font-size: 18px;
                text-align: left;
            }
            th,
            td {
                padding: 12px;
                border: 1px solid #ddd;
            }
            th {
                background-color: #f2f2f2;
            }
        </style>
    </head>
    <body>
        <h1>Order Mandarins</h1>
        <form id="order-form" method="post" action="/orderInfo">
            <div class="form-group">
                <label for="customer-id">고객 ID:</label>
                <input type="text" id="customer-id" name="customer_id" class="form-control" required />
            </div>
            <table class="table" id="data-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">등급</th>
                        <th scope="col">재고량</th>
                        <th scope="col">가격</th>
                        <th scope="col">구매량</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <button type="submit" class="btn btn-primary">구매하기</button>
        </form>

        <!-- Modal -->
        <div
            class="modal fade"
            id="errorModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="errorModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">Error</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">적어도 하나의 품목은 1 이상의 수량을 선택해야 합니다.</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="/static/js/scripts_order.js"></script>

        <script>
            document.getElementById('order-form').addEventListener('submit', function (event) {
                const selects = document.querySelectorAll('select');
                let valid = false;
                selects.forEach((select) => {
                    if (select.value > 0) {
                        valid = true;
                    } else {
                        select.parentElement.querySelector('input').disabled = true;
                        select.disabled = true;
                    }
                });
                if (!valid) {
                    event.preventDefault();
                    $('#errorModal').modal('show');
                    selects.forEach((select) => {
                        select.disabled = false;
                        select.parentElement.querySelector('input').disabled = false;
                    });
                }
            });
        </script>
    </body>
</html>
